{% load cms_tags menu_tags sekizai_tags staticfiles %}
<!DOCTYPE html>
<html lang="en">

<head>
  <style>
    .dropdown:hover>.dropdown-menu {
      display: block;
    }

    /* This code increases spacing between list items in a nav-bar */
    .navbar-nav li{
      padding-left: 35px;
      padding-right: 35px;
      display: inline;
      list-style-type: none;

    }

    body {
  height: 100%;
  padding-top: 70px;
}

.bg-image {
    position: relative;
}
.bg-image img {
    display: block;
    width: 100%;
    max-width: 1200px; /* corresponds to max height of 450px */
    margin: 0 auto;
}
.bg-image h1 {
    position: absolute;
    text-align: center;
    bottom: 0;
    left: 0;
    right: 0;
    color: green;
}
.nav, .main {
    background-color: #f6f6f6;
    text-align: center;
}

  </style>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="{% page_attribute 'meta_description' %}">
  <meta name="author" content="">

  <title> {% page_attribute 'page_title' %} </title>

  <!-- Bootstrap core CSS -->
  <link href="{% static "css/bootstrap.min.css" %}" rel="stylesheet">

  <!-- Custom styles for this template -->
    <link href="{% static "css/style.css" %}" rel="stylesheet">
 {% render_block "css" %}
</head>

<body>

   {% cms_toolbar %}

  <!-- Navigation -->

  <nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-dark fixed-top" role="navigation">
    <div class="container">

      <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">

            {% show_menu 0 100 100 100 %}
        </ul>
      </div>
    </div>
  </nav>







  <!-- Page Content -->
  <div class="container">




  </div>
  <!-- /.container -->
  <div class="container">
      <div class="row-fluid">
          <div class="span12">
              <div class="nav">nav area</div>
              <div class="bg-image">
                  <img src="/static/images/step0001.jpg">
                   <h1>This is centered text.</h1>
              </div>
              <div class="main">main area</div>
          </div>
      </div>
  </div>


<div class="bottomdivs">
  <section class="lowernavbar" class="py-1">

    <nav class="navbar navbar-expand-sm bg-dark navbar-dark justify-content-center">
      <ul class="navbar-nav">

        <!-- Subscribe -->
        <li class="nav-item active">

          <button type="button" class="btn btn-dark" data-toggle="modal" data-target=".bd-subscribe-modal-lg">Subscribe</button>

          <div class="modal fade bd-subscribe-modal-lg" tabindex="-1" role="dialog" aria-labelledby="subscribeModalCenterTitle" aria-hidden="true">
            <div class="modal-dialog modal-lg">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="subscribeModalCenterTitle">Subscribe</h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body">
                  <div class="col-md-12">
                    <div class="card p-4">
                      <div class="card-body">
                        <h3 class="text-center">Please subscribe by filling up this form</h3>
                        <hr>
                        <div class="row">
                          <div class="col-md-6">
                            <div class="form-group">
                              <input type="text" class="form-control" placeholder="First Name">
                            </div>
                          </div>
                          <div class="col-md-6">
                            <div class="form-group">
                              <input type="text" class="form-control" placeholder="Last Name">
                            </div>
                          </div>
                          <div class="col-md-6">
                            <div class="form-group">
                              <input type="text" class="form-control" placeholder="Email">
                            </div>
                          </div>
                          <div class="col-md-6">
                            <div class="form-group">
                              <input type="text" class="form-control" placeholder="Phone Number">
                            </div>
                          </div>
                        </div>
                        <div class="row">
                          <div class="col-md-12">
                            <div class="form-group">
                              <textarea class="form-control" placeholder="Message"></textarea>
                            </div>
                          </div>
                          <div class="col-md-12">
                            <div class="form-group">
                              <input type="submit" value="Submit" class="btn btn-outline-danger btn-block">
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>


              </div>
            </div>
          </div>
        </li>
        <!-- email -->
        <li class="nav-item active">
          <a href="mailto:sacema@sun.ac.za?Subject=Hello%20again" class="btn btn-dark" role="button" aria-pressed="true">Email</a>
        </li>
        <!-- twitter page -->
        <li class="nav-item active">

          <a href="https://twitter.com/hashtag/sacema" class="btn btn-dark" role="button" aria-pressed="true">Twitter</a>
        </li>
        <!-- facebook -->
        <!-- Contact us modal -->
        <li class="nav-item active">

          <a href="#" class="btn btn-dark" role="button" aria-pressed="true">Contact us</a>
        </li>
        <!-- legal modal -->

      </ul>
    </nav>
  </section>
  <section class="bottomlogos" class="py-1">
    <div class="container">

      <p class="text-center">DST-NRF Centre of Excellence in Epidemiological Modelling and Analysis</p>
      <div class="row mb-4">
        <div class="col-md-4">


      <a href="https://www.sun.ac.za"><img src="/static/images/su100new.jpg" alt="" class="img-fluid"></a>

        </div>

        <div class="col-md-4">


          <a href="https://www.nrf.ac.za"> <img src="/static/images/NationalResearchFoundationnew.jpg" alt="" class="img-fluid"></a>

        </div>

        <div class="col-md-4">


           <a href="https://www.dst.gov.za"><img src="/static/images/DST_correct_logo1new.jpg"   alt="" class="img-fluid"></a>

        </div>
      </div>
    </div>

  <!-- Footer -->
  <footer class="py-3 bg-white text-dark">
    <div class="container">
       <p class="text-center"><b>Copyright © SACEMA {% now "Y" %}</b></p>
    </div>
    <!-- /.container -->
  </footer>

</div>

  <!-- Bootstrap core JavaScript -->
  <script src="{% static "js/jquery.js" %}"></script>
  <script src="{% static "js/bootstrap.min.js" %}"></script>

 {% render_block "js" %}
</body>

</html>
